extends layout

block content
    h1= title
    form#formAddTicket(name="addticket",method="post",action="/tickets")
        input#inputTitle(type="text", placeholder="title", name="title")
        input#inputContent(type="text", placeholder="content", name="content")
        input#inputUserEmail(type="text", placeholder="userEmail", name="userEmail")
        button#btnSubmit(type="submit") submit
